/* ==========================================================================
   PÁGINA: SOBRE (sobre.html)
   ✏️ RESPONSÁVEL: Lázaro
   ========================================================================== */

.pagina-sobre .secao-mvv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1285px;
    margin: 0 auto;
    padding: 20px 10px;
}

.pagina-sobre .missao,
.pagina-sobre .visao,
.pagina-sobre .valores {
    display: flex;
    flex-direction: column;
    margin: 35px;
}
