/* ==========================================================================
   PÁGINA: PRODUTOS (produtos.html)
   ✏️ RESPONSÁVEL: Vinícius
   ========================================================================== */

.pagina-produtos .filtro-btn.ativo {
    color: white;
    border-bottom: 3px solid var(--third-color);
    text-decoration: none;
}

.pagina-produtos .filtros-categorias {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 12px 0;
}

.vestidos, .bermudas, .camisetas {
    font-family: var(--font-title);
    font-size: 5.2rem;
    margin: 20px 0 2px;
    color: var(--primary-color);
}
